<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyf.mapper.ItemsCommentsMapper">
    <resultMap id="selectItemCommentByItemIdMap" type="com.wyf.popj.vo.ItemCommentVO">
        <result column="commentLevel" property="commentLevel"/>
        <result column="content" property="content"/>
        <result column="specName" property="specName"/>
        <result column="createdTime" property="createdTime"/>
        <result column="userFace" property="userFace"/>
        <result column="nickname" property="nickname"/>
    </resultMap>



    <select id="selectItemComment" resultMap="selectItemCommentByItemIdMap" parameterType="map">
        SELECT f.comment_level as commentLevel,
        f.content as content,
        f.sepc_name as specName,
        f.created_time as createdTime,
        i.face as userFace,
        i.nickname as nickname
        FROM items_comments f
        LEFT JOIN users i ON f.user_id = i.id
        where item_id = #{paramsMap.itemId}
        <if test=" paramsMap.level != null and paramsMap.level != '' ">
            and f.comment_level = #{paramsMap.level}
        </if>

    </select>

<!--    <resultMap id="123" type="com.wyf.popj.vo.CommentLevelVo">-->
<!--        <collection property="count1" javaType="list">-->
<!--            <result column="count" property="count" javaType="Integer"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->
<!--    <select id="selectCommentLevelByItemId" resultType="com.wyf.popj.vo.CommentLevelVo" parameterType="String">-->
<!--        SELECT-->
<!--            COUNT( f.comment_level ) as count-->
<!--        FROM-->
<!--            ( SELECT * FROM items_comments f WHERE item_id = #{itemId} ) f-->
<!--        GROUP BY-->
<!--            f.comment_level-->
<!--    </select>-->
</mapper>